body {
  width:400px;
}

ul {
  list-style: none;
}

.page-url {
  text-overflow: ellipsis;
  padding-bottom: 3px;
}

.button-group > button {
  margin-right:3px;
}

#btn-download {
  width:100%;
}

.p-li:hover {
  background-color:#f6f6f6;
}

.p-li > label {
  max-width:100%;
}