#pxtool-download {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 30px;
  border-radius: 5px;

  padding: 5px;

  background: rgba(0,0,0,0.5);
  transition: background 0.5s;

  color: white;

  text-align: center;
  font-size: 20px;

  text-decoration: none;
}

#pxtool-download:hover {
  background: rgba(0,0,0,0.7);
}
