{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "debug": false,
    "ctx": false,
    "_":false,
    "DEBUG":false,
    "chrome":false,
    "React":false,
    "R":false
  },
  "rules":{
    "semi": 2,
    "quotes":[1, "single", "avoid-escape"],
    "strict":0,
    "consistent-return":0,
    "eqeqeq": [2, "smart"],
    "vars-on-top": 2,
    "brace-style": 2,
    "no-underscore-dangle":0,
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "valid-jsdoc":[
      2,
      {
        "requireParamDescription": false,
        "requireReturnDescription": false,
        "requireReturn": false
      }
    ],
    "no-unused-vars":0,
    "eol-last": 1,
    "complexity": [1, 4],
    "no-lone-blocks": 0
  }
}
