.wrap{
  max-width: 1080px;
  margin: auto;
  margin-top: 12px;
}

.nav-item.active{
  background-color: #c7a9e6;
}
.controls {
  margin-top:12px;
}
.controls > label{
  margin-bottom: 12px;
  width: 100%;
}
.controls > label > input{
  margin-right: 10px;
  margin-left: 10px;
}

.button-group > button {
  margin-right: 3px;
}

.site{
  position: relative;
}

.loading-overlay {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
