id: "30408915"
title: "紅白巫女"
user:
  id: "308630"
  account: "sakura_23"
  name: "桜"
tools: [
  "Photoshop"
  "SAI"
]
tags: [
  "東方"
  "博麗霊夢"
  "紅白"
  "楽園の素敵な巫女"
  "東方Project250users入り"
]
created_time: "9/27/2012 22:24"
is_manga: true
page_count:2
page:
  orig:0
