@import "foundation";
@import "settings";

body{
    font-family: Tahoma,'Microsoft YaHei UI','Microsoft YaHei',DengXian,SimSun,'Segoe UI',Tahoma,Helvetica,sans-serif;
    font-size: 14px;
}

* {
    font-family: 'Microsoft YaHei UI','Microsoft YaHei',DengXian,SimSun,'Segoe UI',Tahoma,Helvetica,sans-serif!important;
}

input[type=checkbox]{
  vertical-align: -2px;
  margin-right:3px;
}

#bg-rgb input[type=range]{
  vertical-align: middle;
  margin-left:5px;
}

#bg-rgb > div {
  margin-top:5px;
}

#bg-color {
  padding:2px;
  max-width:50px;
}

section[role="main"]{
  margin-top:5px;
}
