<a name="export" class="button large expand" {{action 'export'}}>{{t 'history_export'}}</a>
<a name="import" class="button large expand" {{action 'import'}}>{{t 'history_import'}}</a>
<input type="file" name="import" value="" style="display:none">
